
footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: cadetblue;
}

h1 {
    color: seashell;
    background-color: rgb(95, 93, 93);
    /* margin: -10px -20px; */
    text-align: center;
    font-size: 30px;
    /* padding: 15px; */
}
.info {
    margin-bottom: 50px;
    padding-top: 50px;
    line-height: 45px;
}
  
h2#name { 
     /* margin-left: 40px;  */
     background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
}
h2#contact {
    /* margin-left: 15px; */
    /* font-size: 50px; */
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
}
  
img {
    border: black solid 1px;
}

a {
    color: darkred;
}
  
body {
    background-color: rgb(242, 255, 242);
    font-family: 'Oswald', sans-serif;
}

header {
    font-family: 'Anton', sans-serif;
}

cite {
    font-size: 8px;
    /* opacity: 20%; */
    color: black;
    /* margin-bottom: 10px; */
    position: relative; 
    bottom: 5px;
}

section.row > div {
    /* outline: solid 1px black; */
}
.container {
    /* outline: black 1px solid; */
}

nav {
    text-align: center;
    padding-bottom: 10px;
}

.page3 {
    outline: solid 1px black;
}
* {
    /* outline: black solid 1px; */
}